.App {
    text-align: center;
  }
  .upsa-bg-grey {
    background-color: #818181;
  }
  .upsa-bg-light-grey {
    background-color: #D9D9D9;
  }
  .upsa-bg-light-button {
    background-color: #D8D8D8;
  }
  .upsa-bg-button {
    background-color: #4A4948;
  }
  .img-width {
    max-width: none;
  }
