.App {
  text-align: center;
}

.upsa-bg-grey {
  background-color: #818181;
}

.upsa-bg-light-grey {
  background-color: #D9D9D9;
}

.upsa-bg-light-button {
  background-color: #D8D8D8;
}

.upsa-bg-button {
  background-color: #4A4948;
}

.upsa-bg-block {
  background-color: #B0B0B0;
}

.img-width {
  max-width: none;
}

.min-h-620 {
  min-height: 620px;
}


// Input styles
input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: rgba(135, 178, 143, 0.45);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  height: 16px; 
  width: 16px; 
  background: url("../images/icons/cancel.svg") no-repeat;
  cursor: pointer;
}