@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/centuryGothic.ttf");
  font-weight: normal;
  font-style: normal;
}

.background-grey {
  background-color: #b0b0b0;
}

/* Add these styles in your CSS file or in a <style> tag */
.inline-flex {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  color: #000;
}

/* Hover effect for the arrow */
.inline-flex:hover .h-20.w-20 {
  transform: translateX(20px);
}

.button-flex span {
  display: flex;
  flex-direction: column;
}

.slider-card {
  padding: 10px;
  box-sizing: border-box;
}
